.body{
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid black; */
}

.header img{
  height: 100px;
  width: 100px;
}

.container img{
  width: 100%;
  object-fit: fill;
}